body {
  color: #003049;
}

.main {
  display: flex;
}

.ingredients {
  width: 60%;
  height: 100%;
}

.foodSection {
  background-color: #f8f4ed;
  margin: 10px;
  padding: 10px;
  /* position: relative; */
  height: 20rem;
}

.sectionTitle {
  font-weight: bold;
  padding-bottom: 10px;
}

.cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}

.card {
  background-color: #fff;
  border: 2px solid #b8c4a9;
  border-radius: 5px;
  aspect-ratio: 3 / 1;
  margin: 3px;
  text-align: center;
  color: #fff;
  font-size: 20px;
}

.status-0 {
  background: #9ab17a;
}
.status-1 {
  background: #e3a06c;
}
.status-2 {
  background: #bd6060;
}
